*

# ------------------------------------------------------------------------------
# White list

!/.config/
!/.config/fish/
!/.config/fish/*
!/.config/fish/functions/
!/.config/fish/functions/*
!/.config/terminator/
!/.config/terminator/*
!/.easystroke/
!/.easystroke/*

!/doc/
!/doc/**
!/src/

# ------------------------------------------------------------------------------
# Black list

/.config/fish/fish_variables
/.config/fish/fishfile
/.config/fish/functions/__bass.py
/.config/fish/functions/__fasd_print_completion.fish
/.config/fish/functions/a.fish
/.config/fish/functions/bass.fish
/.config/fish/functions/d.fish
/.config/fish/functions/f.fish
/.config/fish/functions/fasd_cd.fish
/.config/fish/functions/fisher.fish
/.config/fish/functions/peco_kill.fish
/.config/fish/functions/peco_select_history.fish
/.config/fish/functions/s.fish
/.config/fish/functions/sd.fish
/.config/fish/functions/sf.fish
/.config/fish/functions/z.fish
/.config/fish/functions/zz.fish
